h1 {
    font-family: 'Snippet', sans-serif;
    font-size: 50px;
    text-align: center;
}
img {
margin: 30px;
background-color: aqua;
border-width: 50px;
border-color: brown;
border-style: solid;
width: 500px;

padding: 100px;
}

div {
    
    border-width: 40px;
    border-color: black;
    border-style: solid;
    background-color: rgb(244, 124, 244);
}

